@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&family=Open+Sans:wght@400;500;600;700;800&family=Shrikhand&family=Silkscreen&display=swap');

body {
    background-color: #557153;
}

/* Profile Card*/

body {
    background-color: #557153;
    font-family: 'Alegreya Sans', sans-serif;
    color: #393E46;
}

.profile-card {
    background-color: #7D8F69;
    width: 60%;
    height: 66%;
    position: absolute;
    top: 20%;
    left: 20%;
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
}

#cover {
    width: 420px;
    border-radius: 20px;
    position: absolute;
}

#avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 50px;
    position: absolute;
    margin-top: 150px;
    margin-left: 30px;
    border: #7D8F69 5px solid;
    object-fit: cover;
}

.name {
    position: absolute;
    margin-top: 260px;
    margin-left: 200px;
    font-family: 'Alegreya Sans', sans-serif;
    color: #E6E5A3;
}

.classname {
    position: absolute;
    margin-top: 300px;
    margin-left: 200px;
    color: black
}

.social {
    position: relative;
    margin-top: 390px;
}

.yt-logo {
    width: 30px;
    margin-left: 60px;
    cursor: pointer;
}

.fb-logo {
    width: 30px;
    margin-left: 50px;
    cursor: pointer;
}

.gh-logo {
    width: 30px;
    margin-left: 50px;
    cursor: pointer;
}

.ig-logo {
    width: 30px;
    margin-left: 50px;
    cursor: pointer;
}
.logo{
    width: 30px;
    margin-left: 50px;
    cursor: pointer;
}
.aboutme {
    position: absolute;
    margin-left: 440px; 
}


/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
    #cover{
        display: none;
    }
    #avatar{
        margin-top: 30px;
        margin-left: 30%;
    }
    .name{
        margin-left: 30%;
        margin-top: 200px;
    }
    .classname{
        margin-top:250px;
        margin-left: 40%;
    }
    .aboutme {
        display: none;
    }
}
 
/* Small screen devices (600px and above) */
@media only screen and (max-width: 600px) {
    #cover {
        width: 370px;
        border-radius: 20px;
        position: absolute;
    }
}
/* PC screen devices (1043px and above) */
@media only screen and (max-width: 1043px) {
    #cover {
        width: 410px;
        border-radius: 20px;
        position: absolute;
    }
    .aboutme{
        display: none;
    }
}
